<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <style>
body {
  padding: 0;
  margin: 0;
}
        html, body, #map {
          height: 100%;
          width: 100%;
        }
    </style>
  </head>
  <body>
    <div id="map"></div>


    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script>

var map = L.map('map').setView([51.505, -0.09], 1);


var mapLink = 
'<a href="http://openstreetmap.org">OpenStreetMap</a>';
L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; ' + mapLink,
    maxZoom: 18,
    }).addTo(map);


  var track = {{ track|safe }};
var polyline = L.polyline(track.points).addTo(map);

map.fitBounds(polyline.getBounds());











    </script>

  </body>

</html>


