<!doctype html>
<html>
  <head>
  </head>
  <body>

{% if tracks %}
<table id="tracks">
  {% for track in tracks %}
  <tr>
    <td>{{ track.track_id }}</td>
    <td>{{ track.created }}</td>
    <td><a href="{% url 'detail' track.track_id %}">detail</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h3>Tracks </h3>
<p>No tracks found!!! :(</p>
{% endif %}
  </body>
</html>


